<app-header [title]="'Kid\'s Book Debate Club'"></app-header>
<app-body>
  <div class="row text-white">
    <div class="col-md-4 my-4 text-center">
      <i class="fa fa-book fa-4x"></i>
      <h3>Book List</h3>
      <p>Want to know the next book or past books?</p>
      <button class="btn btn-secondary btn-block" (click)="goBookList()">
        Go
      </button>
    </div>
    <div class="col-md-4 my-4 text-center">
      <i class="fa fa-users fa-4x"></i>
      <h3>Join the Club</h3>
      <p>Want to join the club?</p>
      <button class="btn btn-secondary btn-block" (click)="goJoin()">
        Join
      </button>
    </div>
    <div class="col-md-4 my-4 text-center">
      <i class="fa fa-question fa-4x"></i>
      <h3>How This Works</h3>
      <p>Want to know how the book club works?</p>
      <button class="btn btn-secondary btn-block" (click)="goDetails()">
        Find Out
      </button>
    </div>
  </div>
</app-body>
<app-body-alt>
  <div class="row">
    <div class="col-md-6 my-3">
      <app-card [title]="'Donate to Charity'" [icon]="'fa-money'">
        <p>
          Like this free website? Pay it forward to a charity I support.
        </p>
        <a
          class="btn btn-secondary"
          href="https://aoti-app-hub.herokuapp.com/donate"
          target="_blank"
        >
          Donate
        </a>
      </app-card>
    </div>
    <div class="col-md-6 my-3">
      <app-card [title]="'More Information'" [icon]="'fa-info-circle'">
        <p>
          Just curious about this site? Get more information about this website.
        </p>
        <button class="btn btn-secondary" (click)="goToInfo()">Info</button>
      </app-card>
    </div>
  </div>
</app-body-alt>
