<app-header [title]="'Kid\'s Book Debate Club'"></app-header>
<app-body>
  <div class="row">
    <div class="col-md-12 my-3">
      <app-book-info-card
        [next]="true"
        [book]="bookService.nextBook"
      ></app-book-info-card>
    </div>
    <div class="col-md-12 my-3">
      <app-card [autoHeight]="false" [title]="'All Books'">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of bookService.allBooks">
              <td>{{ book.title }}</td>
              <td>{{ book.date }}</td>
              <td>
                <button class="btn btn-secondary" (click)="goDetails(book)">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </app-card>
    </div>
  </div>
</app-body>
