<app-card [autoHeight]="false" [title]="titleText" *ngIf="hasBook">
  <p>
    {{ book.details }}
  </p>
  <p>This books debate will be on {{ book.date }}.</p>
  <hr />
  <h4>Debate</h4>
  <p>{{ book.debateQuestion }}</p>
  <ng-container *ngFor="let side of book.sides">
    <p>
      <strong>{{ side.name }}:</strong>
      {{ side.details }}
    </p>
  </ng-container>
  <hr />
  <p>
    <iframe
      width="500"
      height="300"
      [src]="youtubeLink"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </p>
</app-card>
