<app-header [title]="'Join the Club'"></app-header>
<app-body>
  <div class="row">
    <div class="col-md-12 my-3">
      <app-card [autoHeight]="false">
        <p>
          We will be using Discord to chat about the books and make
          announcements!
        </p>
        <p>
          To join the club:
        </p>
        <ol>
          <li class="my-3">
            Sign up for Discord (if you don't already have an account)
            <br />
            <a
              class="btn btn-link btn-secondary text-white"
              href="https://discordapp.com/"
              target="_blank"
              >Sign up for Discord Here</a
            >
          </li>
          <li>
            Use this button to join our channel
            <br />
            <a
              class="btn btn-link btn-secondary text-white"
              href="https://discord.gg/f7SNVuv"
              target="_blank"
              >Join the Channel</a
            >
          </li>
        </ol>
      </app-card>
    </div>
    <div class="col-md-12 my-3">
      <app-card [autoHeight]="false">
        <p>
          If you need help or have questions, contact me at
          <strong>
            AdamOnTheInternet.com@gmail.com
          </strong>
          or through my contact form with the link below.
        </p>
        <p>
          <a
            class="btn btn-primary"
            href="https://adam-on-the-internet.herokuapp.com/contact"
            target="_blank"
          >
            Go to Contact Form
          </a>
        </p>
      </app-card>
    </div>
  </div>
</app-body>
